  <%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
  <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Sobre DocAPP</h4>
            </div>
            <div class="info-sec">
              <p>DocAPP es un servicio que te permite tener todas tus citas médicas organizadas</p>
            </div>
          </div>
          <div class="col-lg-offset-5 col-md-3 col-sm-3 marb20" align="right">
            <div class="ftr-tle">
              <h4 class="white no-padding">Enlaces rápidos</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="Index.jsp"><i></i>Inicio</a></li>
                <li><a href="FormLogin.jsp"><i></i>Login</a></li>
                <li><a href="about.jsp"><i></i>Más Información</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
